body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

header {
    margin: auto;
    padding: 30px 100px 10px 100px;
    background-color:  #1F2937;
    display: flex;
    justify-content: space-between;
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

ul a {
    text-decoration: none;
    color: #F9FAF8;
}

#hero {
    margin: auto;
    padding: 100px;
    background-color:  #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
}

#hero div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
}

img {
    width: 50%;
    height: 40vh;
    align-self: flex-end;
}

#hero button {
    width: 100px;
    height: 30px;
    background: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

#services {
    margin: auto auto 100px auto;
    padding: 30px 100px 100px 100px;
    background-color: white;
    color: #373c42;
}

#services h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.boxes div {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.boxes p {
    text-align: center;
}

#contact {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding: 100px;
}

#contact p:last-of-type {
    font-weight: bold;
    text-align: right;
    font-style: normal;
}

#sign-up {
    background-color: white;
    color: #F9FAF8;
    padding: 100px;
    display: flex;
    justify-content: center;
}

.cta {
    background-color: #3882F6;
    width: 80%;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cta-text p:first-of-type {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 0;
}

.cta-text p:last-of-type {
    color: #f9faf8dc;
    margin-top: 0;
}

/*this needs fixing*/
.cta-button {
    width: 100px;
    height: 30px;
    background: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    font-weight: bold;
}






